[Desktop Entry]
Type=Application
Name=neo_off
Exec=bash -lc "source /home/admin/ecoli/bin/activate && cd /home/admin/Desktop/Ecoli2025_pi && python neo_on.py"
Icon=/home/pi/projects/icon.png
Terminal=false
